body {
    background: #0f172a;
    font-family: Arial;
    color: white;
}

.chat-container {
    width: 400px;
    margin: 50px auto;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

#chat-box {
    height: 300px;
    overflow-y: auto;
    background: #020617;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.user-msg {
    color: #38bdf8;
    margin: 5px;
}

.bot-msg {
    color: #22c55e;
    margin: 5px;
}

.input-area {
    display: flex;
}

input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 8px 15px;
    margin-left: 5px;
    background: #22c55e;
    border: none;
    border-radius: 5px;
}

